{% extends "layout.html" %}
{% block title %}Lisää sieni{% endblock %}
{% block content %}
<form action="/add" method="POST" enctype="multipart/form-data">
    Sienen nimi
    <input type="text" name="name"><br>
    <label for="family">Ryhmä</label>
    <select name="family">
        {% for family_id,family_name in families %}
        <option value={{family_id}}>{{family_name}}</option>
        {% endfor %}
    </select><br>
    <label for="season_start">Kauden alku</label>
    <select name="season_start">
        {% for month_id,month_name in months %}
        <option value={{month_id}}>{{month_name}}</option>
        {% endfor %}
    </select>
    <label for="season_end">Kauden loppu</label>
    <select name="season_end">
        {% for month_id,month_name in months %}
        <option value={{month_id}}>{{month_name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Lähetä">
</form>
{% endblock %}
