{% extends "layout.html" %}
{% block title %}Add a mushroom{% endblock %}
{% block content %}
<form action="/mushrooms/add" method="POST" enctype="multipart/form-data">
    Mushroom group name
    <input type="text" name="name"><br>

    <label for="locations">Locations</label>
    <p>
        {% for location_id,location_name in locations %}
        <input type="checkbox" name="locations" value={{location_id}}>{{location_name}}
        {% endfor %}
    </p>
    </select><br>
    <label for="season_start">Season start</label>
    <select name="season_start">
        {% for month_id,month_name in months %}
        <option value={{month_id}}>{{month_name}}</option>
        {% endfor %}
    </select>
    <label for="season_end">Season end</label>
    <select name="season_end">
        {% for month_id,month_name in months %}
        <option value={{month_id}}>{{month_name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}
