{% extends "layout.html" %}
{% block title %}Add a mushroom{% endblock %}
{% block content %}
<form action="/mushrooms/add" method="POST" enctype="multipart/form-data">
    Mushroom common name
    <input type="text" name="name"><br>
    <label for="family">Family</label>
    <select name="family">
        {% for family in families %}
            <option value={{family.id}}>{{family.name}}</option>
        {% endfor %}
    </select><br>
    <label for="season_start">Season start</label>
    <select name="season_start">
        {% for month_id,month_name in months %}
        <option value={{month_id}}>{{month_name}}</option>
        {% endfor %}
    </select>
    <label for="season_end">Season end</label>
    <select name="season_end">
        {% for month_id,month_name in months %}
        <option value={{month_id}}>{{month_name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}
