<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Mushroom spotter</title>
<h1>Sienikanta</h1>
<a href="/">Main page</a>
<a href="/mushrooms">Mushrooms</a>
<a href="/families">Mushroom families</a>
<a href="/sightings">Sightings</a>
<a href="/seasons">Seasons</a>
<a href="/accounts">Users</a>
{% if session.username %}
 <a href="/logout">Logout({{ session.username }})</a>
{% else %}
<form action="/login" method="POST">
    User <input type="text" name="username"> Password
    <input type="password" name="password"> <input type="submit" value="Login"> <input type="submit" value="Signup" formaction="/signup">
</form>
{% endif %}
<hr>
{% block content %} {% endblock %}
<hr>
Footer
